@import "bourbon"
@import url(https://fonts.googleapis.com/css?family=Open+Sans)

*
  margin: 0

body
  font-family: "Open Sans"

nav
  height: 50px
  background: #ccc
  display: flex
  align-items: center
  padding: 0 20px
  .left
    display: flex
    flex-grow: 1

main
  height: calc(100vh - 50px)
  display: flex
  justify-content: center
  align-items: center
  flex-direction: column
  a
    text-decoration: none
  .btn
    background: salmon
    color: white
    padding: 10px 20px
    margin: 20px 0
    border-radius: 3px
    +transition()
    &:hover
      background: rgba(salmon, 0.7)
  img
    max-height: 80vh
